

body{
    background-color: black;
}
p{
    color: rgb(115, 241, 65);
}
header{
    background-color: black;
    border-bottom: 1px solid rgb(115, 241, 65);
    justify-content: space-between;
}
h1{
    font-family: 'M PLUS Code Latin', sans-serif;
    color: rgb(115, 241, 65);
}
.flex{
    display: flex;
    align-items: center;
}
.flexi{
    display: flex;
    align-items: center;
}
.flexi:hover{
    box-shadow: 0px 0px 40px #41ebf1;
    font-weight: 700;
}
.pad{
    padding: 0 0.5rem;
    font-weight: 700;
}
.azul{
    color: #41ebf1;
}
.verde{
    color: #73f141;
}
.fondoNegro{
    background-color: black;
}
.sticky{
    position: sticky;
    top: 0;
}
.tronco{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: black;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    width: 100%;
}
img {
    
    width: 100%;
    object-fit: contain;

}
.horario {
    
    padding: 0.5rem 0;
}
.tronco__queso{
    border: 1px solid #41ebf1;
    border-radius: 0.5rem;
}

.tronco__queso2{

    border: 1px solid #73f141;
    border-radius: 0.5rem;
    text-align: center;
}
.tronco__completo{
    border: 1px solid rgb(65, 235, 241);
    border-radius: 0.5rem;
}
.tronco__completo__informacion{
    margin: 0 1rem;
}
a{
    text-decoration: none;
}
.navi{
    display: flex;
    justify-content: space-around;

    padding: 1rem 0;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
}

.nv{
    padding: 1.8rem;
    border-radius: 0.5rem;
    border-left: 1px solid rgb(115, 241, 65);
}
.nv2{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    background-color: black;
    text-align: center;

    padding: 0.5rem 0;
    border-bottom: 1px solid rgb(65, 235, 241);
}

.nv2__contenido{
    color: rgb(65, 235, 241);
    padding: 0.5rem 1rem;
}
.nv2__contenido:hover{
    border-radius: 0.5rem;
    border: 1px solid rgb(65, 235, 241);
    border-top: none;
    font-weight: 700;
}
.desplegable{
    position: relative;
}
footer{
    border-top: 1px solid rgb(115, 241, 65);
}
/* Hide the desplegable's content by default */
.desplegable__contenido{
    display: none;
    /* Position it right below the trigger element */
    right: 0;
    padding-top: 4px;
    padding-right: 2rem;
    position: absolute;
    top: 100%;

    /* It should be on the top of other elements */
    background-color: black;
    color: rgb(115, 241, 65);
    border-radius: 0.5rem;
    border: 1px solid rgb(115, 241, 65);
    font-family: 'M PLUS Code Latin', sans-serif;
    /* Size */
    width: 200px;
}

/* Show the content when hover on the container */
.desplegable:hover .desplegable__contenido {
    display: block;
}
li{
    color: rgb(115, 241, 65);
    padding: 0.5rem 0;
    
}
.container {
    /* Content is center horizontally */
    align-items: center;
    display: flex;

    /*
The property name will stick to the left, and the value
will stick to the right
*/
    justify-content: space-between;

    border-bottom: 1px solid rgb(115, 241, 65);

    /* Spacing */
    margin: 0px;
    padding: 18px 8px;

}
.did{
    color: black;
    background-color: rgb(115, 241, 65);
    margin: 10px;
}
.nav2, .verde{
    color: rgb(115, 241, 65);
}
button{
    background-color: black;
    padding: 0.5rem 1rem;
    
}
.encender1{
    color: rgb(115, 241, 65);
    border: 1px solid rgb(115, 241, 65);
    border-radius: 0.5rem;
}
.apagar1{
    color: red;
    border: 1px solid red;
    border-radius: 0.5rem;
}
.botones{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    
}
.encender1:hover{
    color: black;

    background-color: rgb(115, 241, 65);
    box-shadow: 0px 0px 40px rgb(115, 241, 65);
    font-weight: 700;

    cursor: not-allowed;
}
.apagar1:hover{
    color: black;
    background-color: red;
    box-shadow: 0px 0px 40px red;
    transition: 0.5s;
    font-weight: 700;

    cursor: not-allowed;
}
.celeste{color: rgb(65, 235, 241);}
.rojo{color: red;}
/* .verde{color: rgb(115, 241, 65);} */
.infobotones{
    border-bottom: 1px solid #41ebf1;
    margin: 0 1rem;
    border-bottom-right-radius: 0.5rem;
}
.tarjetasComando{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

.comando{
    
    margin: 1.5rem;
    border-bottom: 1px solid rgb(115, 241, 65);
    border-top: 1px solid rgb(115, 241, 65);
    border-radius: 0.5rem;
}
.titulo{
    color: rgb(115, 241, 65);
}
.buscar{
    margin: 1rem;
    padding: 0.4rem 0.5rem;
    border-radius: 0.5rem;
}
.enviar{
    padding: 0.4rem 2rem;
    margin: 0.3rem 0.5rem;
    color: rgb(115, 241, 65);
    background-color: black;
    border-radius: 0.5rem ;
    text-decoration: none;
    border: 2px solid rgb(115, 241, 65);
    
}
.contenidoTronco{
    border-bottom: 1px solid #73f141;
}
.borrar-tweet, .error{
    border: 1px solid red;
    color: red;
    margin: 1rem;
    padding: 0 0.3rem;
    cursor: pointer;
}
.tabla{
    color: white;
    border: 1px solid white;
}
.girar{
    border-radius: 0.5rem;
    animation: girar 5s infinite;
    
}
@keyframes girar{
    
    25%  {   transform: translateX(100px);  }
    /* 50%  {   transform: translateX(0px);  } */
    75%  {   transform: translateX(-100px);  }
    
}
.foter{
    font-weight: 700;
    text-align: end;
}
.sinStyle{
    list-style-type: none;
}
a {
    color: #41ebf1;
    display: inline-block;
    width: 50px;
    text-decoration: none;
}
nav, scroll-container {
    display: block;
    margin: 0 auto;
    text-align: center;
}
nav {
    
    padding: 5px;
    border: 1px solid #41ebf1;
}
scroll-container {
    display: block;
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
scroll-page {
    color: #41ebf1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
.formulario{
    display: flex;
    align-items: center;
    justify-content: space-around;

    border: 1px solid #41ebf1;
    padding: 0.5rem 0;
    margin: 0.5rem 0;
}
.notas{
    display: grid;
}
.notas>div:hover{
    border: 1px solid #41ebf1;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
}
@media (max-width: 680px) {
    .flex {
        display: block;
    }
    .sticky{
        position: initial;
    }
    .nv{
        display: flex;
        justify-content: space-around;
    }
    .tronco{
        display: initial;
    }
    .tarjetasComando{
        display:  contents;
    }
    .formulario{
        display: grid;
        text-align: center;
        gap: 0.5rem;
    }
}
@media (min-width: 680px){
    .comando{
        padding: 0 5rem;
    }
}